name: Deploy to Docker Hub

on:

  # Build and deploy the image on pushes to master branch
  push:
    branches: 
      - master

  # Build and deploy the image nightly (to ensure we pick up any security updates)
  schedule:
    - cron: "0 0 * * *"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      # Check out our code
      -
        name: Checkout
        uses: actions/checkout@v2

      # Hit an issue where arm builds would fail with cURL errors regarding intermediary certificates when downloading from github (ie: deploy-s6-overlay).
      # After many hours of troubleshooting, the workaround is to pre-load the image's rootfs with the CA certificates from the runner.
      # This problem may go away in future.
      - 
        name: Copy CA Certificates from GitHub Runner to Image rootfs
        run: |
          ls -la /etc/ssl/certs/
          mkdir -p ./rootfs/etc/ssl/certs
          mkdir -p ./rootfs/usr/share/ca-certificates/mozilla
          cp --no-dereference /etc/ssl/certs/*.crt ./rootfs/etc/ssl/certs
          cp --no-dereference /etc/ssl/certs/*.pem ./rootfs/etc/ssl/certs
          cp --no-dereference /usr/share/ca-certificates/mozilla/*.crt ./rootfs/usr/share/ca-certificates/mozilla
      
      # Set up QEMU for multi-arch builds
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      # Log into docker hub (so we can push images)
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Set up buildx for multi platform builds
      -
        name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      # Build "latest"
      - 
        name: Build & Push - latest
        run: docker buildx build --no-cache --progress plain -t "mikenye/piaware:latest" --compress --push --platform "linux/386,linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64" .

      # Build version specific
      - 
        name: Build & Push - version specific
        run: |
          docker pull "mikenye/piaware:latest"
          VERSION=$(docker run --rm -it --entrypoint cat mikenye/piaware /VERSIONS | grep piaware | cut -d " " -f 2)
          docker buildx build --progress plain -t "mikenye/piaware:${VERSION}" --compress --push --platform "linux/386,linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64" .

      # Patch dockerfile to remove healthcheck
      -
        name: Patch Dockerfile to remove healthcheck
        run: sed '/^HEALTHCHECK /d' < Dockerfile > Dockerfile.nohealthcheck
      
      # Build "latest_nohealthcheck"
      - 
        name: Build & Push - latest
        run: docker buildx build -f Dockerfile.nohealthcheck --no-cache --progress plain -t "mikenye/piaware:latest_nohealthcheck" --compress --push --platform "linux/386,linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64" .

      # Build version specific _nohealthcheck
      - 
        name: Build & Push - version specific
        run: |
          docker pull "mikenye/piaware:latest"
          VERSION=$(docker run --rm -it --entrypoint cat mikenye/piaware /VERSIONS | grep piaware | cut -d " " -f 2)
          docker buildx build -f Dockerfile.nohealthcheck --progress plain -t "mikenye/piaware:${VERSION}_nohealthcheck" --compress --push --platform "linux/386,linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64" .
